.container {
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    width: 75%;
}

.content-boxes {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 30px;
    align-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    
}

.box {
    background: linear-gradient(-45deg,#02b3e4,#02ccba);
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.box-content {
    color: white;
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
}

.box::before {
    background: linear-gradient(-45deg,#0062ff,#924fff);
    box-shadow: 8px 10px 40px 0 rgba(0, 0, 0, 0.48);
    position: absolute;
    border-radius: 10px;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.box:hover::before {
    opacity: 1;
    cursor: pointer;
}

.title-head {
}

h1 {
    font-size: 5em;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3 {
    font-size: 1em;
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
}